alabaster 
appdirs==1.4.4
argon2-cffi 
argon2-cffi-bindings 
arrow 
astroid 
asttokens 
atomicwrites==1.4.0
attrs 
autopep8 
Babel 
backcall 
bcrypt
beautifulsoup4 
binaryornot 
black==19.10b0
bleach 
Brotli==1.0.9
brotlipy==0.7.0
certifi==2022.5.18.1
cffi 
chardet 
charset-normalizer 
click 
cloudpickle
colorama 
cookiecutter 
cryptography 
cycler==0.11.0
dash==2.5.1
dash-bootstrap-components==1.1.0
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
debugpy 
decorator 
defusedxml 
diff-match-patch 
docutils 
entrypoints 
executing 
fastjsonschema 
flake8 
Flask==2.1.2
Flask-Compress==1.12
fonttools==4.33.3
gunicorn==20.1.0
idna 
imagesize 
importlib-metadata 
inflection==0.5.1
intervaltree 
ipykernel 
ipython 
ipython-genutils 
isort 
itsdangerous==2.1.2
jedi 
Jinja2 
jinja2-time 
jsonschema 
jupyter-client 
jupyter-core 
jupyterlab-pygments
keyring
kiwisolver==1.4.3
lazy-object-proxy 
MarkupSafe 
matplotlib==3.5.2
matplotlib-inline
mccabe==0.6.1
mistune 
mypy-extensions==0.4.3
nbclient 
nbconvert
nbformat 
nest-asyncio 
notebook 
numpy==1.22.4
numpydoc 
packaging 
pandas==1.4.2
pandocfilters 
paramiko
parso 
pathspec==0.7.0
pexpect 
pickleshare 
Pillow==9.1.1
plotly==5.8.2
pluggy 
poyo 
prometheus-client 
prompt-toolkit 
psutil 
ptyprocess 
pure-eval 
pycodestyle 
pycparser 
pydocstyle 
pyflakes 
Pygments 
pylint 
PyNaCl 
pyOpenSSL 
pyparsing 
pyrsistent 
PySocks 
pywin32==302
pywin32-ctypes 
pywinpty 
regex 
requests 
rope 
Rtree 
scipy==1.8.1
seaborn==0.11.2
Send2Trash 
sip==4.19.13
six 
snowballstemmer 
sortedcontainers 
soupsieve 
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
spyder 
spyder-kernels 
stack-data 
tenacity==8.0.1
terminado 
testpath 
text-unidecode 
textdistance 
three-merge 
tinycss 
toml 
tornado 
traitlets 
typed-ast 
typing_extensions 
ujson 
Unidecode 
urllib3 
watchdog 
wcwidth 
webencodings==0.5.1
Werkzeug==2.1.2
win-inet-pton 
wincertstore==0.2
wrapt 
yapf 
zipp 
